*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    cursor: url('../images/favicon.ico'),auto;
}
ul,ol{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
    
}
a:hover{
    color: white;
    text-shadow: 2px 2px 6px  white,
    0px 0px 6px rgb(40, 243, 209);
    cursor: url('../images/favicon1.ico'),auto;
}
.iconfont{
    cursor: url('../images/favicon1.ico'),auto;
}

span{
    transition: color .2s ease;
}

