html,
body {
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    background: url(../images/bg_beautiful.jpg) no-repeat;
    background-size: cover;
    backdrop-filter: blur(.5rem);
    font-family: dd;
    display: flex;
    /* overflow: hidden; */
}

.shadow {
    box-shadow: -5px -5px 10px rgba(94, 85, 85, 0.719) inset, 5px 5px 10px rgb(255, 254, 254) inset;
}

#box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

header,
main,
main aside,
footer,
.m-search,
#m-menu-bottom {
    display: flex;
    background-color: #dadfe600;
    font-size: 1rem;
    border-radius: 10px;
    white-space: nowrap;
}



header,
footer {
    height: 10%;
    min-height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: #dadfe66c;
}

header {
    flex-wrap: wrap;
    flex: 1;
}

header .left,
header .right,
header .mid {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    height: 100%;
}


header .left a {
    animation: logoRun 10s infinite ease-in-out;
}

header .left {
    margin-left: 1rem;
    width: 20rem;
}

header .left .logo {
    font-size: 3.6rem;
    margin-left: 1rem;
}

header .left strong:hover {
    cursor: url('../images/favicon1.ico'), auto;
}

header .left .icon-wode {
    display: none;
}

header .left strong {
    font-size: 4rem;
}

header .mid {
    width: 25rem;
    margin-left: 1rem;
}

header .mid .search {
    width: 100%;
}

header .mid .icon-search {
    margin-right: -3rem;
}

.search {
    width: 60%;
    height: 20%;
    min-height: 30px;
    box-shadow: -5px -5px 10px rgba(94, 85, 85, 0.719) inset, 5px 5px 10px rgba(94, 85, 85, 0.719) inset;
    border-radius: 10px;
    outline: none;
    background-color: #dadfe66c;
}

header .mid .icon-search {
    position: relative;
    right: 18%;

}

header .right {
    display: flex;
    width: 30rem;
    justify-content: flex-end;
}

header .right span {
    width: 100%;
    height: 100%;
    margin-left: 2rem;
}

header .right a .icon-zhuti {
    font-size: 2.7rem;
}

header .right span a {
    font-size: 2.2rem;
    margin-left: -1.5rem;

}


main {
    position: relative;
    height: 80%;
    flex: 8;
}

main section {
    position: absolute;
    height: 100%;
    flex: 1;
}

main section:first-child {
    position: relative;
}

#box main aside {
    position: relative;
    right: 0;
    width: 20rem;
    height: 100%;
    padding: 20px 10px;

}

#box main aside ul {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;

}

#box main aside ul li {
    margin-top: 1rem;
    text-align: left;
    margin-left: 2rem;
    border-radius: 50%;
}

#box main aside ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#box main aside ul li a .icon-faxian {
    font-size: 2.7rem;
}

main aside ul li a .icon-shoucang,
main aside ul li a .icon-yinle1 {
    font-size: 2.9rem;
}

ul li:hover {
    color: white;
    text-shadow: 2px 2px 6px white,
        0px 0px 6px rgb(40, 243, 209);
}

footer {
    flex: 1;
    z-index: 1;
}

footer div {
    display: flex;
    align-items: center;
    height: 80%;
}

footer .left img {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 3rem;
    box-shadow: 0 0 5px 5px rgb(36, 35, 35);
    animation: rotate 5s linear infinite;
}

footer .left ol li {
    margin-top: .5rem;
    font-size: 1.8rem;
}

footer .left ol li:last-child {
    font-size: 1.5rem;
}

footer .mid .icon-bofang {
    font-size: 3.8rem;
}

footer .mid .icon-shunxubofang {
    font-size: 2.7rem;
}

footer div span {
    margin-left: 1.8rem;
    flex: 1;

}


@font-face {
    font-family: dd;
    src: url(../font/DottedSongtiDiamondRegular.otf),
        url(../font/DottedSongtiCircleRegular.otf),
        url(../font/DottedSongtiSquareRegular.otf);
}

@keyframes logoRun {
    0% {
        color: black;
    }

    40% {
        color: rgb(240, 222, 222);
        text-shadow: 2px 2px 6px rgba(4, 65, 7, 0.685),
            0px 0px 6px rgba(193, 68, 231, 0.658);
    }

    80% {
        color: rgb(240, 214, 214);
        text-shadow: 2px 2px 6px rgba(25, 174, 219, 0.623),
            0px 0px 6px rgba(18, 233, 197, 0.507);
    }

    100% {
        color: black;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}



/* 移动端样式隐藏 */
.m-search,
#m-menu-bottom,
#m-menu-right {
    display: none;
}

  /* 移动端部分 */

@media screen and (max-width:768px) {
 .active {
        color: white;
        text-shadow: 0px 0px 2px rgb(245, 4, 4),
            0 0 5px rgba(8, 255, 173, 0.39);
    }

   ul li:hover{
      color: black;
      text-shadow:none;
    }
    li a{
        color: black;
    }
    a:hover{
      color: black;
      text-shadow:none;
    }
    .iconfont:hover{
      color: black;
      text-shadow:none;
    }

    /* pc端样式隐藏 */
    header .right,
    main aside,
    footer .right,
    header .mid {
        display: none;
    }

    /* 移动端样式显示*/
    .m-search,
    #m-menu-bottom,
    #box header .left .icon-wode,
    #m-menu-right {
        display: block;
    }

    header div {
        flex: 100%;
        flex-wrap: nowrap;
    }

    header .left {
        padding: 0 1rem;
        justify-content: space-between;
        margin-right: 0;
    }

    header .left a {
        margin: 0;
        padding: 0;

    }


    .m-search {
        display: block;
        width: 100%;
        height: 4rem;
        min-height: 40px;
        min-width: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .m-search .search {
        width: 50%;

    }

    .m-search .icon-search {
        margin-left: -4rem;
    }

    #m-menu-bottom {
        height: 5rem;
        min-height: 30px;
        text-shadow: 0 0 20px black;
    }

    #m-menu-bottom ul {
        display: flex;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;
        background-color: #c3d1e698;
    }

    #m-menu-bottom ul li {
        height: 100%;
        line-height: 5rem;
        padding: 0 .5rem;
    }

 

    #m-menu-bottom .iconfont {
        font-size: 2rem;
    }

    #m-menu-bottom .icon-faxian {
        font-size: 1.8rem;
    }

    #m-menu-bottom .icon-MV {
        font-size: 2.1rem;
    }

    #m-menu-bottom ul li a {
        display: block;
        height: 100%;
    }


    /* 移动端右部菜单 */
    #m-menu-right {
        overflow: hidden;
        width: 0;
        height: 100%;
        z-index: 2;
        position: absolute;
        right: 0;
        background-color: #c3d1e6a9;
    }

    #m-menu-right header {
        height: 10%;
        min-height: 60px;
        flex-wrap: nowrap;
    }

    #m-menu-right header span:first-child {
        font-weight: bold;
        font-size: 4rem;

    }

    #m-menu-right header span:last-child {
        font-size: 2rem;
    }

    #m-menu-right header img {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

    #m-menu-right ul {
        height: 90%;
        border-top: black 3px solid;
        padding: 1rem 2rem;
        text-shadow: 0 0 20px black;
        border-radius: 20px 0 0 20px;
    }

    #m-menu-right ul li {
        width: 100%;
        height: 3rem;
        margin-top: 1rem;
        font-size: 2rem;
        background-color: #c3d1e62f;
        line-height: 3rem;
        border-radius: 5px;
        border-bottom: 1px solid black;
    }

    #m-menu-right ul li:first-child {
        margin-top: .2rem;
    }

    #m-menu-right ul li span {
        text-align: left;
    }

    #m-menu-right ul li a {
        display: block;
        width: 100%;
        height: 100%;
    }

    #m-menu-right ul li .iconfont {
        font-size: 2.5rem;
    }

    #m-menu-right ul li .icon-zhuti {
        font-size: 2.1rem;
    }

    #m-menu-right ul li .icon-denglu {
        font-size: 2.7rem;
    }

    #m-menu-right ul li .icon-VIP {
        font-size: 2.6rem;
    }
}